/* reset css */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* CSS phần đầu */
header {
    background-color: #1e1e1e;
    height: 97px;
    display: flex;
    justify-content: space-between;
    padding: 20px 40px;
    align-items: center;
}

header h1 {
    color: #d4af37;
    font-weight: 700;
}

header nav a {
    color: #dddddd;
    text-decoration: none;
    font-size: 17.4px;
    font-weight: 700;
    margin-left: 15px;
}

header nav a:hover {
    color: #d4af37;
}

main {
    display: flex;
    gap: 20px;
    background-color: antiquewhite;
    padding: 40px;

    flex-wrap: wrap;              
    justify-content: center;      
}

.menu {
    width: 350px;
    background-color: #ffffff;
    border-radius: 15px;
    padding: 25px;
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);

    display: flex;
    flex-direction: column;
    gap: 16px;
}

.menu h2 {
    color: #d4af37;
    font-weight: 700;
}

.menu p {
    font-weight: 700;
    font-size: 17.7px;
    text-align: justify;
    line-height: 1.5;
}

.menu .image img {
    width: 100%;
    height: 220px;
    border-radius: 10px;
    object-fit: cover;
}

/* CSS Phần chân */
footer {
    background-color: #1e1e1e;
    color: #ccc;
    text-align: center;
    padding: 16px;
}
