* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    width: 100%;
    height: 110px;
    background-color: #1e1e1e;
    z-index: 1;
    display: flex;
    padding: 20px;
    justify-content:space-around;
    align-items: center;
}

header h1 {
    color: #d4af37;
}

header div a {
    color: white;
    text-decoration: none;
    padding: 20px;
}

.part_one {
    width: 100%;
    height: 100%;
    display: flex;
    font-size: 25px;
}

.part_one .imgs {
    position: relative;
}

.part_one .imgs img {
    width: 100%;
    object-fit: cover;
    width: 100%;
    height: 100%;
   
}

.part_one .imgs .toolbar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    padding: 10px;
    line-height: 1.5;
    background-color: #00000099;
}
.part_one .imgs .toolbar p {
    color: #ffffff;
    font-size: 14px;
}
.main_one .imgs .toolbar button {
    padding: 10px 20px;
    background-color: #D4AF37;
    border: none;
    border-radius: 30px;
    color: #ffffff;
    margin: 20px;
}

.part_one img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.part_one:after {
    position: absolute;
    background: white;
}

.part_one p {
    position: relative;
    max-width: 900px;
    padding: 20px;
}


.part_two {
    background-color: white;
    text-align: center;
}
.part_two h1 {
    padding: 50px;
}
.part_two .title { 
    position: relative;
    display: inline-block;
    padding-bottom: 12px;
}

.part_two .title::after { 
    content: "";
    position: absolute;
    left: 65%;
    bottom: 0;
    transform: translateX(-50%);
    width: 60px;           
    height: 3px;              
    background-color: #d4af37;
    border-radius: 2px;
}

.part_two .gallery {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    padding: 30px;
}

.part_two .imgs img {
    width: 300px;
    height: 350px;
    border-radius: 20px;
    padding: 10px;
}

 .part_three {
    background-color: #1E1E1E;
    text-align: center;
    padding: 50px;

 }
 .part_three h1 {
    color: #D4AF37;
   padding-top:  60px;
 }

 .part_three p {
    color: #DDDDDD;
    font-size: 18px;
    margin: 30px;
    width: 900px;
    height: 80px;
    padding-bottom: 60px ;
    margin-left: 250px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
 }
 
 footer {
    text-align: center;
    background-color: #111111;
    padding: 20PX;
    color: #888888;
    font-size: 15PX;
 }