* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.header {
    height: 500px;
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6));
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-align: center;
    padding: 20px;
    position: relative;
}

.header img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.header::after {
    position: absolute;
    background: white;
}

.header-content {
    position: relative;
    max-width: 900px;
    padding: 20px;
}

.header h1 { 
    font-size: clamp(2rem, 5vw, 3.5rem); 
    margin-bottom: 10px; 
}
.header p { 
    font-size: 1.2rem; 
    font-weight: 300; 
}

.gallery {
    padding: 60px 5%;
    background-color: #faf9f6;
}

.gallery-container {
    display: flex;
    flex-wrap: wrap; 
    gap: 20px;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

.gallery-item {
    flex: 1 1 280px;
    height: 300px;
    position: relative;
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 0.5s;
}

.gallery-item:hover img { 
    transform: scale(1.1);
}

.space {
    position: absolute;
    bottom: 0;
    width: 100%;
    padding: 20px;
    background: linear-gradient(transparent, rgba(0,0,0,0.8));
    color: white;
    text-align: center;
}

.space h3 { 
    font-size: 20px; 
    margin-bottom: 5px; 
}
.space p { 
    font-size: 10px; 
    opacity: 0.8; 
}

.form {
    background-color: #8b0000; 
    color: white;
    padding: 80px 5%;
    text-align: center;
}

.form h2 { 
    font-size: 2.5rem; 
    margin-bottom: 10px; 
}
.text { 
    margin-bottom: 40px; 
    font-style: italic; 
}

.regis {
    display: flex;
    flex-wrap: wrap; 
    gap: 15px;
    max-width: 1000px;
    margin: 0 auto;
    justify-content: center;
}

.regis input {
    flex: 1 1 300px; 
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
}

.regis select{
    flex: 1 1 300px; 
    padding: 15px;
    border: none;
    border-radius: 8px;
    font-size: 20px;
}

.regis button {
    flex: 0 1 250px;
    padding: 15px;
    background-color: white;
    color: #8b0000;
    border: none;
    border-radius: 30px;
    font-weight: bold;
    cursor: pointer;
    transition: 0.3s;
    margin-top: 10px;
}

.regis button:hover {
    background-color: #f0f0f0;
    transform: scale(1.05);
}

footer {
    background-color: #1a1a1a;
    color: #888;
    padding: 30px;
    text-align: center;
    font-size: 0.9rem;
}

