* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    padding-top: 50px;
}

header {
    background-color: black;
    height: 50px;
    display: flex;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
}

header p{
    color: white;
    font-weight: 700;
}

header nav a{
    color: #dddddd;
    text-decoration: none;
    font-size: 17.4;
    font-weight: 700;
    margin: 10px;
}

main{
    gap: 20px;
    background-color: antiquewhite;

}

main h2{
    padding-top: 20px;
    padding-bottom: 20px;
}
main img{
    padding-top: 10px;
    padding-bottom: 10px;
}
main p{
    padding-top: 10px;
}

main .docs{
    padding-bottom: 20px;
    color: #d4af37;
}

.part-one{
    border: 0px solid black;
    width: 600px;
    background-color: white;
    border-radius: 10px;
    margin: auto;
    flex-wrap: nowrap;
}
.part-one img{
    border-radius: 30px;
    width: 100%;
    padding-left: 30px;
    padding-right: 30px;
    object-fit: cover;
}

.part-one p{
    padding-left: 10px;
    padding-right: 10px;
}

.part-two{
    padding-top: 20px;
}

.part-three{
    padding-bottom: 30px;
    gap: 20px;
}

.tab-one{
    border: 0px solid black;
    border-radius: 10px;
    background-color: white;
    margin-left: 200px;
    margin-right: 200px;
    text-align: left;
    padding-left: 20px;
    margin-bottom: 20px;
}

.tab-one p{
    padding-bottom: 20px;
    font-size: 18px;
}

.tab-two{
    border: 0px solid black;
    border-radius: 10px;
    background-color: white;
    margin-left: 200px;
    margin-right: 200px;
    text-align: left;
    padding-left: 20px;
    margin-bottom: 20px;
}

.tab-two p{
    padding-bottom: 20px;
    font-size: 18px;
}

.tab-three{
    border: 0px solid black;
    border-radius: 10px;
    background-color: white;
    margin-left: 200px;
    margin-right: 200px;
    text-align: left;
    padding-left: 20px;
}

.tab-three p{
    padding-bottom: 20px;
    font-size: 18px;
}

footer{
    background-color: black;
    padding-top: 15px;
    height: 50px;
    color: white;
    margin-bottom: 100px;
}
   